<li class="relative flex space-x-6 py-6 xl:static"
  data-calendar-target="event"
  data-id="<%= event.id %>"
  data-title="<%= event.title %>"
  data-starting-at="<%= event.starting_at %>">
  <div class="flex-auto">
    <h3 class="pr-10 font-semibold text-gray-900 xl:pr-0"><%= event.title %></h3>
    <dl class="mt-2 flex flex-col text-gray-500 xl:flex-row">
      <div class="flex items-start space-x-3">
        <dt class="mt-0.5">
          <span class="sr-only">Date</span>
          <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
          </svg>
        </dt>
        <dd><%= event.starting_at.strftime("%B #{event.starting_at.day.ordinalize}, %Y") %></dd>
      </div>
    </dl>
  </div>
</li>

