<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-20">
  <%= render "shared/divider", title: "Day 1/30 - Multiple Select" %>

  <div class="mx-auto max-w-md my-20">
    <%= turbo_frame_tag "multiple_select", src: multiple_select_path %>
  </div>

  <%= render "shared/divider", title: "Day 2/30 - Online users and Day 3/30 Howtire animations" %>

  <div class="mx-auto max-w-2xl my-20">
    <%= turbo_frame_tag "online_users_frame", src: online_users_path %>
  </div>
  
  <%= render "shared/divider", title: "Day 4/30 - JS-less modals" %>

  <div class="mx-auto max-w-2xl my-20 flex items-center justify-center">
    <%= link_to "Open Modal", modal_path, data: {turbo_frame: "modal"}, class: "bg-indigo-500 text-white rounded px-3 py-2" %>
  </div>

  <%= render "shared/divider", title: "Day 5/30 - Infinite scroll" %>

  <div class="mx-auto max-w-2xl my-20 flex items-center justify-center">
    <%= link_to "Infinite Scroll", tweets_path, class: "bg-indigo-500 text-white rounded px-3 py-2" %>
  </div>

  <%= render "shared/divider", title: "Day 6/30 - Nested forms" %>

  <div class="mx-auto my-20 flex items-center justify-center">
    <%= turbo_frame_tag "recipes_table", src: recipes_path, class: "w-full" %>
  </div>

  <%= render "shared/divider", title: "Day 7/30 - Table filters" %>

  <div class="mx-auto my-20 flex items-center justify-center">
    <%= turbo_frame_tag "characters", src: characters_path, class: "w-full" %>
  </div>

  <%= render "shared/divider", title: "Day 8/30 - Real time chat" %>

  <div class="mx-auto my-20 flex items-center justify-center">
    <%= turbo_frame_tag "chatrooms", src: chatrooms_path, class: "w-full" %>
  </div>

  <%= render "shared/divider", title: "Day 9/30 - Tic Tac Toe" %>

  <div class="mx-auto my-20 flex items-center justify-center">
    <%= turbo_frame_tag "games", src: tic_tac_toe_games_path, class: "w-full" %>
  </div>

  <%= render "shared/divider", title: "Day 10/30 - Form Wizard" %>

  <div class="mx-auto max-w-2xl my-20 flex items-center justify-center">
    <%= turbo_frame_tag "onboarding_form", src: new_onboarding_developer_information_path, class: "w-full" %>
  </div>

  <%= render "shared/divider", title: "Day 11/30 - Flashes without redirects" %>

  <div class="mx-auto my-20 flex items-center justify-center">
    <%= turbo_frame_tag "characters", src: characters_path, class: "w-full" %>
  </div>

  <%= render "shared/divider", title: "Day 12/30 - Command palette" %>

  <div class="mx-auto my-20 flex items-center justify-center">
    <h4> Press CTRL+A </h4>
  </div>

  <%= render "shared/divider", title: "Day 13/30 - Maps" %>

  <div class="mx-auto my-20 flex items-center justify-center">
    <%= turbo_frame_tag "places", src: places_path, class: "w-full" %>
  </div>

  <%= render "shared/divider", title: "Day 14/30 - Hotwire with View Components" %>

  <div class="mx-auto my-20 flex items-center justify-center">
    <%= turbo_frame_tag "todos", src: todos_path, class: "w-full" %>
  </div>

  <%= render "shared/divider", title: "Day 15/30 - ChatGPT api with Hotwire" %>

  <div class="mx-auto my-20 flex items-center justify-center">
    <%= turbo_frame_tag "coffeegpt", src: new_coffee_prompt_path, class: "w-full" %>
  </div>

  <%= render "shared/divider", title: "Day 16/30 - Tabbed content" %>

  <div class="mx-auto my-20 flex items-center justify-center">
    <%= turbo_frame_tag "tabs", src: tabs_path, class: "w-full" %>
  </div>

  <%= render "shared/divider", title: "Day 17/30 - Undo tweets" %>

  <div class="mx-auto my-20 flex items-center justify-center max-w-lg">
    <%= turbo_frame_tag "undo_tweet", src: new_tweet_path, class: "w-full" %>
  </div>
</div>


