<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-20">
  <%= render "shared/divider", title: "Day 1/30 - Multiple Select" %>

  <div class="mx-auto max-w-md my-20">
    <%= turbo_frame_tag "multiple_select", src: multiple_select_path %>
  </div>

  <%= render "shared/divider", title: "Day 2/30 - Online users and Day 3/30 Howtire animations" %>

  <div class="mx-auto max-w-2xl my-20">
    <%= turbo_frame_tag "online_users_frame", src: online_users_path %>
  </div>
  
  <%= render "shared/divider", title: "Day 4/30 - JS-less modals" %>

  <div class="mx-auto max-w-2xl my-20 flex items-center justify-center">
    <%= link_to "Open Modal", modal_path, data: {turbo_frame: "modal"}, class: "bg-indigo-500 text-white rounded px-3 py-2" %>
  </div>

  <%= render "shared/divider", title: "Day 5/30 - Infinite scroll" %>

  <div class="mx-auto max-w-2xl my-20 flex items-center justify-center">
    <%= link_to "Infinite Scroll", tweets_path, class: "bg-indigo-500 text-white rounded px-3 py-2" %>
  </div>

  <%= render "shared/divider", title: "Day 6/30 - Nested forms" %>

  <div class="mx-auto my-20 flex items-center justify-center">
    <%= turbo_frame_tag "recipes_table", src: recipes_path, class: "w-full" %>
  </div>

  <%= render "shared/divider", title: "Day 7/30 - Table filters" %>

  <div class="mx-auto my-20 flex items-center justify-center">
    <%= turbo_frame_tag "characters", src: characters_path, class: "w-full" %>
  </div>

  <%= render "shared/divider", title: "Day 7/30 - Table filters" %>

  <div class="mx-auto my-20 flex items-center justify-center">
    <%= turbo_frame_tag "chatrooms", src: chatrooms_path, class: "w-full" %>
  </div>
</div>
