<!DOCTYPE html>
<html>
  <head>
    <title>ThirtyDaysOfHotwire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uppy/3.6.1/uppy.min.css" integrity="sha512-tMKsEO8+Z50WwVRmWbB+pPC/sXSLtnVTo0UzGHqKTzZB8w+wtTfd7xHGyY1cVxVjDG8TxG8MGMl5aWLbttmauw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" /> %>
  </head>

  <body data-controller="command-palette turbo-confirm" data-action="keydown.ctrl+a->command-palette#toggle keydown.esc->command-palette#close">
    <%= render 'shared/flash' %>
    
    <%= yield %>

    <%= render 'shared/command_palette' %>
    <%= render "shared/turbo_destroy_dialog" %>
    
    <%= turbo_frame_tag "modal" %>
    <%= turbo_frame_tag "flash" %>
  </body>
</html>



