<!DOCTYPE html>
<html>
  <head>
    <title>ThirtyDaysOfHotwire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  </head>

  <body>
    <%= render 'shared/flash' %>
    
    <%= yield %>

    <%= turbo_frame_tag "modal" %>
  </body>
</html>
